In [2]:
import pandas as pd
import scanpy as sc
import numpy as np
import liana as ln
import decoupler as dc
import matplotlib.pyplot as plt
import seaborn as sns

OMP: Info #276: omp_set_nested routine deprecated, please use omp_set_max_active_levels instead.

In [3]:
dc.get_collectri()

Downloading data from `https://omnipathdb.org/queries/enzsub?format=json`
Downloading data from `https://omnipathdb.org/queries/interactions?format=json`
Downloading data from `https://omnipathdb.org/queries/complexes?format=json`
Downloading data from `https://omnipathdb.org/queries/annotations?format=json`
Downloading data from `https://omnipathdb.org/queries/intercell?format=json`
Downloading data from `https://omnipathdb.org/about?format=text`
Downloading data from `https://omnipathdb.org/interactions?datasets=collectri&fields=curation_effort%2Cevidences%2Creferences%2Csources&format=tsv&genesymbols=1&loops=1&organisms=9606`

0.00B [00:00, ?B/s]

Downloading data from `https://omnipathdb.org/interactions?databases=CollecTRI&datasets=tf_mirna&fields=curation_effort%2Cevidences%2Creferences%2Csources&format=tsv&genesymbols=1`

0.00B [00:00, ?B/s]

,source,target,weight,PMID
0,MYC,TERT,1,10022128;10491298;10606235;10637317;10723141;1...
1,SPI1,BGLAP,1,10022617
2,SMAD3,JUN,1,10022869;12374795
3,SMAD4,JUN,1,10022869;12374795
4,STAT5A,IL2,1,10022878;11435608;17182565;17911616;22854263;2...
...,...,...,...,...
43173,NFKB,hsa-miR-143-3p,1,19472311
43174,AP1,hsa-miR-206,1,19721712
43175,NFKB,hsa-miR-21-5p,1,20813833;22387281
43176,NFKB,hsa-miR-224-5p,1,23474441;23988648
43177,AP1,hsa-miR-144,1,23546882