Combine DDS

In [1]:
import pandas as pd

In [2]:
yo_file = "../data/RNAseq_abundances_adjusted_combat_inmose_young.vs.old_DDS.csv"
ym_file = "../data/RNAseq_abundances_adjusted_combat_inmose_young.vs.middle_DDS.csv"
mo_file = "../data/RNAseq_abundances_adjusted_combat_inmose_middle.vs.old_DDS.csv"

In [3]:
ml_file = "../data/RNAs_z_Combat_8_Ridge_seq_RIDGE_regressor_genes_449.csv"

In [65]:
ml_s_file = "../data/feature_importance_Augmented_filter_by_rigde_2.csv"

In [4]:
yo_df = pd.read_csv(yo_file, index_col=0)
ym_df = pd.read_csv(ym_file, index_col=0)
mo_df = pd.read_csv(mo_file, index_col=0)

In [41]:
ml_df = pd.read_csv(ml_file, index_col=3)

In [66]:
ml_s_df = pd.read_csv(ml_s_file, index_col=2)

In [18]:
yo_df = yo_df[yo_df['padj']<0.05]
ym_df = ym_df[ym_df['padj']<0.05]
mo_df = mo_df[mo_df['padj']<0.05]

In [17]:
#ml_df['Coeficient'].plot.hist(bins=12, alpha=0.5)
ml_df = ml_df[ml_df['Coeficient']>0.15]

In [19]:
yo_lfc = yo_df['log2FoldChange']
ym_lfc = ym_df['log2FoldChange']
mo_lfc = mo_df['log2FoldChange']

In [42]:
ml_coef = ml_df['Coeficient']

In [67]:
ml_s= ml_s_df['importance']

In [68]:
all_de_df = yo_lfc.rename('yo').to_frame().join(ym_lfc.rename('ym')).join(mo_lfc.rename('mo')).join(ml_coef.rename('ml_c')).join(ml_s.rename('ml_s'))
all_de_df

                      yo        ym        mo  ml_c  ml_s
CFH            -0.266518       NaN       NaN   NaN   NaN
SEMA3F         -4.102241       NaN -3.743393   NaN   NaN
CFTR           -3.346279       NaN -4.146497   NaN   NaN
RAD52          -0.556749       NaN       NaN   NaN   NaN
MYH16           7.573264       NaN  5.626051   NaN   NaN
...                  ...       ...       ...   ...   ...
Unnamed: 34254 -2.382550       NaN       NaN   NaN   NaN
Unnamed: 34260 -3.038266       NaN       NaN   NaN   NaN
Unnamed: 34273 -2.750935       NaN -4.449913   NaN   NaN
PDE4C.1        -3.564077  5.053504 -8.617581   NaN   NaN
Unnamed: 34313 -0.984240       NaN       NaN   NaN   NaN

[3555 rows x 5 columns]

In [69]:
all_de_df.loc['COX7C']

yo      0.559328
ym           NaN
mo      0.329616
ml_c    1.164396
ml_s         NaN
Name: COX7C, dtype: float64

In [49]:
all_de_df.isnull()

                   yo     ym     mo  ml_c
CFH             False   True   True  True
SEMA3F          False   True  False  True
CFTR            False   True  False  True
RAD52           False   True   True  True
MYH16           False   True  False  True
...               ...    ...    ...   ...
Unnamed: 34254  False   True   True  True
Unnamed: 34260  False   True   True  True
Unnamed: 34273  False   True  False  True
PDE4C.1         False  False  False  True
Unnamed: 34313  False   True   True  True

[3555 rows x 4 columns]

In [62]:
all_de_df.head()

              yo  ym        mo  ml_c
CFH    -0.266518 NaN       NaN   NaN
SEMA3F -4.102241 NaN -3.743393   NaN
CFTR   -3.346279 NaN -4.146497   NaN
RAD52  -0.556749 NaN       NaN   NaN
MYH16   7.573264 NaN  5.626051   NaN

In [70]:
all_de_df.to_csv("results/RNAseq_abundance_adjusted_combat_inmose_all_lfc.csv")

In [71]:
all_de_df.dropna(how='any')

              yo        ym        mo      ml_c      ml_s
NDUFB4  5.239622 -4.034287  9.273909  0.474573  0.071956

In [77]:
for index, row in all_de_df[:3].iterrows():
    print(dict(row))
    print(index)

{'yo': -0.2665178557265618, 'ym': nan, 'mo': nan, 'ml_c': nan, 'ml_s': nan}
CFH
{'yo': -4.102240623690333, 'ym': nan, 'mo': -3.743392825322583, 'ml_c': nan, 'ml_s': nan}
SEMA3F
{'yo': -3.346279167877878, 'ym': nan, 'mo': -4.1464965299896495, 'ml_c': nan, 'ml_s': nan}
CFTR

In [78]:
ddf_dict = [{'index': 'CFH','yo': -0.2665178557265618, 'ym': 3, 'mo': None, 'ml_c': None, 'ml_s': -0.5},
                {'index': 'SEMA3F','yo': -4.10, 'ym': None, 'mo': -3, 'ml_c': None, 'ml_s': None},
                {'index': 'CFTR', 'yo': -3.34, 'ym': None, 'mo': -4, 'ml_c': None, 'ml_s': 0.5}]
df = pd.DataFrame.from_dict(ddf_dict)
df

    index        yo   ym   mo  ml_c  ml_s
0     CFH -0.266518  3.0  NaN  None  -0.5
1  SEMA3F -4.100000  NaN -3.0  None   NaN
2    CFTR -3.340000  NaN -4.0  None   0.5

In [80]:
df = df.set_index('index')
df

              yo   ym   mo  ml_c  ml_s
index
CFH    -0.266518  3.0  NaN  None  -0.5
SEMA3F -4.100000  NaN -3.0  None   NaN
CFTR   -3.340000  NaN -4.0  None   0.5